.container {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: black transparent black transparent;
  border-radius: 50%;
  animation: spin 1.3s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
} 