.container {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

.spinner {
  margin-block: 15rem;
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: var(--link) transparent var(--link) transparent;
  border-radius: 50%;
  animation: spin 1.3s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1445px) {
  .spinner {
    margin-block: 8.8rem;
    border: 3px solid;
    border: 6px solid;
    border-color: var(--link) transparent var(--link) transparent;
    border-radius: 50%;
    animation: spin 1.3s ease infinite;
  }
}
