.form-control{
   margin-inline: 10%;
   margin-bottom: 1rem;
}

.form-control label {
  display: block;
  
}

.form-control input {
  width: 80%;
  height: 40px;
  border-radius: 0.3rem;
  padding-left: 0.4rem;
  
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em var(--shadow);
}

input::placeholder{
  color: var(--text);
}
.btn-signout, .btn-submit{
  display: block;
  margin-inline: 10%;
  margin-top: 2rem;
}


@media (max-width: 518px) {
  .form-control input {
    width: 100%;
    margin-bottom: 1rem;

  }
}

