.blog-post {
  border: 0.1rem solid rgb(191, 45, 45);
  border-radius: 0.4rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.date {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.brief {
  font-size: 1rem;
  margin-top: 0.3rem;
}
.description {
  display: flex;
  font-size: 14px;
  font-weight: 450;
}
@media (min-width: 820px) {
  .title {
    font-size: 30px;
  }
  .blog-post {
    margin-bottom: 0rem;
  }
}
