.container{
  display: grid;
  grid-template-columns: 0.8fr 0.3fr;
  
}

.btn-tag{
display: inline;
  
}

.label {
  height: 40px;
  width: 90%;

  margin-block: 1rem;
  padding-left: 1rem;
}

.txt-area {
  height: 80px;
  width: 90%;
  

  margin-block: 1rem;
  padding-left: 1rem;
  padding-top: 0.1rem;
}
