.nav {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  height: 130px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.link {
  font-size: 1.5rem;
}

.link:hover {
  color: gray;
}

.logo {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--logo);
}
.color-mode-btn {
  border: none;
  background-color: transparent;
}

@media (max-width: 527px) {
  .menu {
    display: none;
  }

  .menu.open {
    position: fixed;
    z-index: 10;
    top: 19%;
    left: 0.1px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--bg);
    overflow: hidden;
    transition: 0.3s;
  }

  .menu.open > * {
    margin-block: 2.5rem;
    border: 1px solid var(--link);
    border-right: none;
    border-left: none;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 684px) {
  .nav {
    margin-bottom: 2rem;
  }
}
