.nav {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  height: 20%;
  margin-bottom: 3rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.link {
  color: black;
  font-size: 1.5rem;
}

.logo {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: black;
}

@media (max-width: 527px) {
  .menu {
    display: none;
  }

  .menu.open {
    position: fixed;
    z-index: 10;
    color: white;
    top: 15%;
    left: 0.1px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    overflow: hidden;
    transition: 0.3s;
  }

  .menu.open > * {
    margin-block: 2.5rem;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    width: 100%;
    text-align: center;
  }
}

.color-mode-btn {
 border: none;
 background-color: white;
}

@media (max-width: 684px) {
  .nav {
    margin-bottom: 2rem;
  }


}
