.container{
  display: grid;
  grid-template-columns: 0.8fr 0.3fr;
  
}

.btn-tag{
display: inline;
  
}

.label {
  height: 40px;
  width: 90%;

  margin-bottom: 1rem;
  padding-left: 1rem;
}

.txt-area {
  height: 80px;
  width: 90%;
  padding-left: 1rem;
 
}

.input-tag{
  height: 30px;
  margin-right: 1rem;
  padding-left: 0.2rem;

}