.content:first-of-type::first-letter {
  float: left;
  font-family: "Noto Serif Display", serif;
  font-size: 6rem;
  line-height: 5rem;
  margin: 2px 8px 0 0;
}

.btn-back {
  display: flex;
  align-items: center;
  width: fit-content;
  border: none;
  background-color: transparent;
}
.btn-back:hover{
  color: grey;
}

.title {
  margin-top: 1rem;
  font-size: 30px;
}

.date {
  margin-block: 1.3rem 3rem;
}

.content {
  line-height: 30px;
  font-size: 18px;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  max-width: 700px;
  margin-inline: auto;
}
.tags {
  margin-block: 2rem;
}

.author-info {
  display: flex;
  flex-direction: column;
  border-block: 2px solid var(--blogpost);
  padding-block: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.p-picture {
  border: 1px solid var(--border);
  box-shadow: 2px 3px 8px var(--shadow);
  border-radius: 0.4rem;
  width: 300px;
  height: 240px;
  margin-inline: auto;
}

.author-name {
  font-size: 24px;
  font-weight: 450;

  margin-block: 1rem;
}
.socials {
  margin-top: 2rem;
}

.btn-insta,
.btn-linked {
  background-color: transparent;
  border: none;
}
.btn-insta {
  margin-right: 1rem;
}
@media (min-width: 789px) {
  .author-info {
    text-align: left;
    flex-direction: row;
  }
  .author-name {
    margin-top: 0;
  }

  .p-picture {
    margin-right: 2rem;
  }
}

@media (max-width: 790px) {
  .p-picture {
    height: 300px;
  }
}
@media (min-width: 820px) {
  .title {
    font-size: 40px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 4rem;
  }

  .date {
    display: flex;
    justify-content: space-around;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding-bottom: 2rem;
  
  }
}
